[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=還原設定檔

# A comment which can/will be used as a tooltip
Comment=還原設定檔

# The path to the folder in which the executable is run
Path=/home/jetbot/hacky-arm/arm

# The executable of the application, possibly with arguments.
Exec=sh -c 'cp ~/hacky-arm/arm/default-config.json ~/hacky-arm/arm/config.json'

# The name of the icon that will be used to display this entry
# Icon=

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
# Categories=
